@inject CustomLocalizer localizer
@model UserModel
<div class="modal fade" id="modal-password" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@localizer["Close"]">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">@localizer["User"] @localizer["Password"]</h4>
            </div>
            <form method="post" id="changePassword" onsubmit="return false">
                <div class="modal-body">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.Id)
                        @Html.TextBoxFor(model => model.PasswordStr, new { @class = "form-control", placeholder = "Enter new password" })
                    </div>
                    <div class="alert alert-danger hidden">
                        <h4><i class="icon fa fa-ban"></i> @localizer["Attention"]</h4>
                        @localizer["PasswordHasNotChanged"]
                    </div>
                    <div class="alert alert-success hidden">
                        <h4><i class="icon fa fa-check"></i>  @localizer["Success"]</h4>
                        @localizer["PasswordChanged"]
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@localizer["Close"]</button>
                    <button type="submit" class="btn btn-primary">@localizer["Change"]</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
$(document).ready(function () {
    //Change Password
    $("#changePassword").on("submit", function (event) {
        var $this = $(this);
        var frmValues = $this.serialize();
        $.ajax({
            cache: false,
            type: "POST",
            url: "/@localizer.CurrentLanguage/user/change-password",
            data: frmValues,
            success: function (data) {
                if (data.result == 'Success') {
                    $('.alert-danger').addClass('hidden');
                    $('.alert-success').removeClass('hidden');
                }
                else if (data.result == 'Failed') {
                    $('.alert-success').addClass('hidden');
                    $('.alert-danger').removeClass('hidden');
                }
            }
        });
    });
});

</script>

