@inject CustomLocalizer localizer
@model LanguageModel
@using (Html.BeginForm("Create", "Language", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ProcessedBy)
    <!-- Content Header (Page header) -->
    <section class="content-header clearfix">
        <h1 class="pull-left">
            @localizer["Language"]
            <small>@localizer["Create"]</small>
        </h1>

        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @localizer["Save"]
            </button>
            <a href="/@localizer.CurrentLanguage/language/list" class="btn bg-red">
                <i class="fa fa-ban"></i>
                @localizer["Cancel"]
            </a>
        </div>
    </section>

    @if (!ViewBag.Validation)
    {
        <section class="content">
            <div class="row">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    <h4><i class="icon fa fa-ban"></i> @localizer["ValidationFailure"]</h4>
                                    @localizer["MandotaryFailure"] <br />
                                    @localizer["ExistingFailure"] <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@localizer["AddNew"] - @localizer["Language"]</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @localizer["GeneralInformation"]
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="languageName">@localizer["Name"]</label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter language name" })
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label for="languageAbbrevation">@localizer["Abbrevation"]</label>
                                        @Html.TextBoxFor(model => model.Abbrevation, new { @class = "form-control" })
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label for="languageName">@localizer["IsDefault"]</label>
                                        @Html.CheckBoxFor(model => model.IsDefault)
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
