@inject CustomLocalizer localizer
@model List<WarehouseProductStockModel>
<section class="content-header clearfix">
    <h1 class="pull-left">
        @localizer["Warehouses"]  @localizer["Products"]  @localizer["List"]
        <small> @localizer["Info"]</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @localizer["Warehouses"]  @localizer["Products"]  @localizer["List"]
                            </div>
                            <div class="panel-body">
                                <table id="warehouseStockList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sku</th>
                                            <th>@localizer["Warehouse"]</th>
                                            <th>@localizer["Quantity"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Sku</td>
                                                <td>@item.WarehouseType.Name</td>
                                                <td>@item.Quantity</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
